/* ==========================================================================
Helper classes (must always be at the end of the core imports)
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
1. States helpers
2.
3.
4.
=============================================================================
***/

/* ==========================================================================
1. States helpers
========================================================================== */
.is-hidden {
    display: none !important;
}
.is-disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: default !important;
}