/* ==========================================================================
Dashboard responsive styles
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. Mobile
1. Portrait Tablet
=============================================================================
***/

// Reader mode (only mobile)
body.reader-mode {
    .main-menu {
        transform: translateX(-80px);
    }

    @media (max-width: 767px) {
        .main-menu {
            transform: translateX(-60px);
        }
    }

    .child-menu {
        transform: translateX(-330px);
    }

    nav.dashboard-nav {
        margin-left: 0;
        max-width: 100%;
    }

    .dashboard-wrapper {
        margin-left: 0;
    }

    footer {
        margin-left: 0 !important;
    }
}

//Mobile media queries
@media (max-width: 1088px) {
    .search-icon {
        margin-left: auto !important;
    }
}

//Mobile media queries
@media (max-width: 767px) {
    .main-menu {
        width: 60px;
    }
    .child-menu {
        left: 60px;
    }
    nav.dashboard-nav {
        margin-left: 60px;
        max-width: calc(100% - 60px);
    }

    //Quickview
    .quickview.is-active {
        min-width: 100%;
        z-index: 1001;        
    }
}
